<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gamepoch 星游纪</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row" style="margin-top: 100px">
    <h2 class="text-center">Express soap demo for verify people's ID and name</h2>
  </div>

  <div class="row" style="margin: 100px auto">
     <form style="width: 100%">
        <div class="form-group">
          <label for="gmsfhmInput">Identity ID</label>
          <input type="email" class="form-control" id="gmsfhmInput" aria-describedby="gmsfhmHelp" placeholder="Enter ID">
          <small id="gmsfhmHelp" class="form-text text-muted">We'll never share your ID with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="xmInput">Name</label>
          <input type="text" class="form-control" id="xmInput" placeholder="Enter name">
        </div>
        <!--<div class="form-check">-->
        <!--<label class="form-check-label">-->
        <!--<input type="checkbox" class="form-check-input">-->
        <!--Check me out-->
        <!--</label>-->
        <!--</div>-->
        <button type="button" class="btn btn-primary" onclick = "checkVerify()">Submit</button>
      </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type ="text/javascript">
  function checkVerify () {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.getAllResponseHeaders();
    xmlhttp.open('POST','/verify',true);
    var input = '<?xml version="1.0" encoding="utf-8"?>' +
      '<ROWS><INFO><SBN>上海星游纪信息技术有限公司</SBN></INFO>' +
      '<ROW><GMSFHM>公民身份号码</GMSFHM>' +
      '<XM>姓名</XM></ROW>' +
      '<ROW FSD="200333" YWLX="是否年满18周岁">' +
      '<GMSFHM>320923198909300019</GMSFHM>' +
      '<XM>徐紫微</XM></ROW></ROWS>';
    xmlhttp.onreadystatechange = function() {
      if(xmlhttp.readyState == 4)
      {
        if(xmlhttp.status == 200){
          console.log("Data pushed\n");
          alert(xmlhttp.responseText)
        }
      }
    }
    xmlhttp.setRequestHeader('Content-Type','text/xml');
    xmlhttp.send(input);
  }
</script>
</body>
</html>